
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), 
    url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src:  url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
    url('../fonts/fraunces-v10-latin-900.woff') format('woff'); 
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'),
    url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
}

*{
    box-sizing: border-box;
}
img{
    vertical-align: middle;
    object-fit: cover;
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Fraunces,Serif";
}
p{
    font-family: "Barlow,Arial,San-serif";
}
.container{
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
.container__smal{
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
} 
/* HEADER  */
.header .container{
    display: flex;
    justify-content: space-between;
    padding: 44px 20px;
}
.cite__logo{
    width: 236px;
    height: 26px;
    vertical-align: middle;
}
/* NAVIGATION BAR  */
.nav__list{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav__item{
    margin: 0;
    padding: 0;
}
.nav__item + .nav__item{
    margin-left: 32px;
}
.nav__link{
    font-family:"Barlow,Arial,San-serif";
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.92px;
    line-height: 104%;
    text-decoration: none;
    color: #83888F;
}
.activ{
    color: #333D4B;
} 
/* MAIN  */
.main{
    flex-grow: 1;
}
/* HERO SECTION  */
.hero .container{
    margin-bottom: 135px;
    padding: 117px 85px;
    background-image: url("../images/bgr\ img\ hero.png");
    background-position: center;
    background-repeat: no-repeat;
}
.hero__heading{
    width: 493px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-weight: 900;
    font-size: 72px;
    color: #FEFCF7;
}
.hero__paragraph{
    width: 445px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    opacity: 80%;
    color: #FEFCF7;
}

.button{
    display: inline-block;
    width: 217px;
    margin: 0;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #66D2CF;
    color: #FEFCF7;
    cursor: pointer;
    border: none;
    transform: backround-color 0.2s ease;
    
}
.button:hover{
    background-color: #0E8784;
}
/* TYPES COFFE SECTION  */
.types__cofe .container__smal{
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0;
    background-image: url("../images/coffe\ list\ bgimage.png");
    background-position: top;
    background-repeat: no-repeat;
}
.types__coffe__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
}
/* hamasiga alohida bgr img bermadim voxt tejaw , blan url yozib berip ketadi */
.types__coffe__item{
    width: 255px;
    background-image: url("../images/gran\ espreso\ bgraund.png");
    background-position: center;
    background-size: 255px 193px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    padding-top: 350px;
}

.types__coffe_heading{ 
    width: 255px;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.types__coffe__paragraph{
    width: 255px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333D4B;
}
.servises .container{
    position: relative;
    margin-bottom: 350px;
    background-image: url("../images/bgr\ servises\ img\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1280px 577px;
}
.servises__info{
    display: flex;
    flex-direction: column;
    width: 540px;
    margin: 0 auto;
    padding: 100px 370px;
    align-items: center;
    text-align: center;
}
.servises__heading{
    width: 330px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-weight: 900;
    font-size: 40px;
    vertical-align: top;
    color: #FEFCF7;
}
.servises__paragraph{
    width: 540px;
    margin: 0;
    margin-bottom: 86px;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}
.servises_list{
    position: absolute;
    z-index: 1;
    right: 8%;
    top: 100%;
    transform: translate(0,-50%);
    display: flex;
    align-items: center;
    
}
.servises__item__quality{
    width: 350px;
    margin: 0;
    padding: 200px 48px 48px 48px;
    background-image: url("../images/img\ coffe.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-color: #0E8784;
    border-radius: 8px;
    list-style-type: none;
    align-items: center;
}
.servises__item__gift{
    width: 350px;
    margin: 0;
    margin-left: 30px;
    padding: 200px 48px 48px 48px;
    background-image: url("../images/gift\ img.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-color: #0E8784;
    border-radius: 8px;
    list-style-type: none;
    align-items: center;
}
.servises__item__delivery{
    width: 350px;
    margin: 0;
    margin-left: 30px;
    padding: 200px 48px 48px 48px;
    background-image: url("../images/delivery\ img.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-color: #0E8784;
    border-radius: 8px;
    list-style-type: none;
    align-items: center;
}

.servises__item__heading{
    width: 255px;
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 24px;
    align-items: center;
    text-align: center;
    color: #FEFCF7;
}
.servises__item__paragraph{
    width: 255px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FEFCF7;
}
/* SECTION SYSTEM WORKS  */
.system__works .container__smal{
    width: 1085px;
    padding: 0 20px;
}
.system__works__heading{
    width: 255px;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    
    font-size: 24px;
    color: #83888F;
}
.line{
    width: 760px;
    margin: 0;
    padding: 0;
    padding-right: 50px;
}
.line_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    height: 1px;
    margin: 0;
    margin-bottom: 82px;
    z-index: 1;
    border: 1px solid #0E8784 ;
    background-color: #FDD6BA;
}
.over__line{
    width: 31px;
    height: 31px;
    margin: 0;
    padding: 0;
    z-index: 2;
    border: 2px solid #0E8784 ;
    border-radius: 50%;
    background-color: #ffffff;
}
/* STYLE CARD  */
.card__list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.card__item__first{
    width: 285px;
    margin: 0;
    padding: 0;
    background-image: url("../images/bgi01.png");
    background-repeat: no-repeat;
    background-size: 90px 72px;
    background-position: top left;
}
.card__item__second{
    width: 285px;
    margin: 0;
    padding: 0;
    background-image: url("../images/bgi02.png");
    background-repeat: no-repeat;
    background-size: 101px 72px;
    background-position: top left;
}
.card__item__thirt{
    width: 285px;
    margin: 0;
    padding: 0;
    background-image: url("../images/bgr03.png");
    background-repeat: no-repeat;
    background-size: 98px 72px;
    background-position: top left;
}
.card__heading{
    width: 255px;
    margin: 0;
    margin-bottom: 42px;
    padding: 0;
    padding-top: 120px;
    padding-right: 40px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}
.card__paragraph{
    width: 285px;
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    padding-right: 30px;
    font-size: 16px;
    color: #333D4B;
}
/* FOOTER  */
.footer .container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px 85px;
    background-color: #2C343E;
}
.cite__logo--footer{
    margin-right: 103px;
}
.nav__link--active{
    color: #FEFCF7;
}
.social{
    display: flex;
    list-style-type: none;
    margin-left: 370px;
}
.social__list + .social__list{
    margin-left: 24px;
}