
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), 
    url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src:  url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
    url('../fonts/fraunces-v10-latin-900.woff') format('woff'); 
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'),
    url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
}

*{
    box-sizing: border-box;
}
img{
    vertical-align: middle;
    object-fit: cover;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Fraunces,Serif";
}
p{
    font-family: "Barlow,Arial,San-serif";
}
.container{
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
.container__smal{
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
} 
/* HEADER  */
.header .container{
    display: flex;
    justify-content: space-between;
    padding: 44px 20px;
}
.cite__logo{
    width: 236px;
    height: 26px;
    vertical-align: middle;
}
/* NAVIGATION BAR  */
.nav__list{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav__item{
    margin: 0;
    padding: 0;
}
.nav__item + .nav__item{
    margin-left: 32px;
}
.nav__link{
    font-family:"Barlow,Arial,San-serif";
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.92px;
    line-height: 104%;
    text-decoration: none;
    color: #83888F;
}
.activ{
    color: #333D4B;
} 
/* HERO SECTION  */
.hero .container{
    margin-bottom: 135px;
    padding: 117px 85px;
    background-image: url("../images/bgr\ img\ hero.png");
    background-position: center;
    background-repeat: no-repeat;
}
.hero__heading{
    width: 493px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-weight: 900;
    font-size: 72px;
    color: #FEFCF7;
}
.hero__paragraph{
    width: 445px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    opacity: 80%;
    color: #FEFCF7;
}

.button{
    display: inline-block;
    width: 217px;
    margin: 0;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #66D2CF;
    color: #FEFCF7;
    cursor: pointer;
    border: none;
    transform: backround-color 0.2s ease;
    
}
.button:hover{
    background-color: #0E8784;
}
/* TYPES COFFE SECTION  */
.types__cofe .container__smal{
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0;
    background-image: url("../images/coffe\ list\ bgimage.png");
    background-position: top;
    background-repeat: no-repeat;
}
.types__coffe__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
}
/* hamasiga alohida bgr img bermadim voxt tejaw , blan url yozib berip ketadi */
.types__coffe__item{
    width: 255px;
    background-image: url("../images/gran\ espreso\ bgraund.png");
    background-position: center;
    background-size: 255px 193px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    padding-top: 350px;
}

.types__coffe_heading{ 
    width: 255px;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.types__coffe__paragraph{
    width: 255px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333D4B;
}