
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'), 
         url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); 
  }

  @font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src:  url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
         url('../fonts/fraunces-v10-latin-900.woff') format('woff'); 
  }
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'),
         url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
  }

*{
    box-sizing: border-box;
}
img{
    vertical-align: middle;
    object-fit: cover;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Fraunces,Serif";
    background-color: #F2F2F2;
}
p{
    font-family: "Barlow,Arial,San-serif";
}
.container{
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    padding: 44px 20px;
}
.cite__logo{
    width: 236px;
    height: 26px;
    vertical-align: middle;
}
.nav__list{
 display: flex;
 justify-content: center;
 vertical-align: middle;
 margin: 0;
 padding: 0;
 list-style-type: none;
}
.nav__item{
    margin: 0;
    padding: 0;
}
.nav__item + .nav__item{
    margin-left: 32px;
}
.nav__link{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.92px;
    line-height: 104%;
    text-decoration: none;
    color: #83888F;
}
.activ{
    color: #333D4B;
}